
:host {
	color: #1F1F1F ;
	display: block ;
	font-family: "Open Sans", "sans-serif" ;
	font-size: 16px ;
	font-weight: 300 ;
	margin: 0px auto 0px auto ;
	padding: 20px 0px 50px 0px ;
	width: 1200px ;
}

:host >>> a {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

input {
	font-size: 16px ;
	padding: 5px 5px 5px 5px ;
}

input.large {
	width: 950px ;
}

button {
	font-size: 16px ;
	padding: 8px 15px 9px 15px ;
}

bn-date-time {
	font-size: 16px ;
}

select {
	font-size: 16px ;
}

textarea {
	display: block ;
	font-size: 16px ;
	height: 60px ;
	padding: 5px 5px 5px 5px ;
	width: 950px ;
}

.app-header {
	margin-bottom: 40px ;
	position: relative ;
}

.app-header__title {
	font-size: 36px ;
	font-weight: 600 ;
	line-height: 41px ;
	margin: 0px 0px 20px 0px ;
}

.app-header__subtitle {
	display: inline-block ;
	font-size: 16px ;
}

.app-header__quote {
	color: #999999 ;
	font-style: italic ;
	font-weight: 300 ;
}

.app-header__author {
	color: #666666 ;
	display: block ;
	font-weight: 600 ;
	margin-top: 7px ;
	padding-right: 50px ;
	text-align: right ;
}

.app-header__start {
	background-color: #FF2E63 ;
	border-radius: 30px 30px 30px 30px ;
	color: #FFFFFF ;
	cursor: pointer ;
	font-size: 12px ;
	font-weight: 400 ;
	height: 37px ;
	line-height: 37px ;
	padding: 0px 30px 0px 30px ;
	position: absolute ;
	right: 0px ;
	text-decoration: none ;
	text-transform: uppercase ;
	top: 3px ;
}

.app-header__start:hover {
	background-color: #F71953 ;
}

.section-header {
	border-bottom: 2px solid #CCCCCC ;
	margin: 40px 0px 40px 0px ;
	padding-bottom: 10px ;
	position: relative ;
}

.section-header__title {
	font-size: 22px ;
	font-weight: 600 ;
	line-height: 27px ;
	margin: 0px 0px 0px 0px ;
}

.section-header__attributes {
	font-size: 22px ;
	line-height: 27px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

.duration {}

.duration__label {
	font-weight: 400 ;
}

.duration__time {
	font-weight: 300 ;
}

.form {}

.form__field {
	margin: 15px 0px 18px 0px ;
}

.form__field:after {
	clear: both ;
	content: "" ;
	display: table ;
	height: 0px ;
}

.form__field--slack {
	margin-top: 50px ;
}

.form__field-label {
	float: left ;
	font-size: 18px ;
	font-weight: 600 ;
	line-height: 24px ;
	padding-top: 2px ;
	text-align: right ;
	width: 150px ;
}

.form__field-body {
	float: left ;
	margin-left: 20px ;
	width: 1000px ;
}

.form__field-body--select {
	padding-top: 4px ;
}

.form__actions {
	padding-left: 170px ;
}

.form__primary-action {
	display: inline-block ;
	margin-right: 20px ;
}

.form__secondary-action {
	color: #999999 ;
	cursor: pointer ;
	text-decoration: underline ;
	text-transform: lowercase ;
}

span.local-time-note {
	color: #CC0000 ;
	display: inline-block ;
	font-style: italic ;
	margin-left: 10px ;
	text-transform: lowercase ;
}

.slack {}

.slack__size {}

.slack__format {}

.slack__content {
	display: block ;
	height: 200px ;
	margin-top: 12px ;
}

.add-update {}

.add-update__status {}

.add-update__content {
	display: block ;
	margin: 12px 0px 12px 0px ;
}

.add-update__submit {}

.add-update__submit-note {
	color: #CCCCCC ;
	display: inline-block ;
	font-style: italic ;
	margin-left: 15px ;
}

.timeline {
	font-size: 14px ;
	line-height: 25px ;
}

.timeline__item {
	border-bottom: 1px solid #EEEEEE ;
	margin-bottom: 15px ;
	padding-bottom: 15px ;
}

.timeline__item:last-child {
	border-bottom-width: 0px ;
	padding-bottom: 15px ;
}

.timeline__item:after {
	clear: both ;
	content: "" ;
	display: table ;
	height: 0px ;
}

.timeline__createdAt {
	float: left ;
	text-align: right ;
	width: 150px ;
}

.timeline__time {
	font-weight: 600 ;
}

.timeline__date {
	font-weight: 400 ;
}

.timeline__description {
	float: left ;
	font-weight: 300 ;
	margin-left: 20px ;
	width: 900px ;
}

.timeline__status {
	font-weight: 400 ;
}

.timeline__actions {
	color: #CCCCCC ;
	float: right ;
	text-align: right ;
	width: 100px ;
}

.timeline__edit,
.timeline__delete {
	color: #333333 ;
	cursor: pointer ;
	text-decoration: underline ;
}

.timeline__separator {
	display: inline-block ;
	margin: 0px 5px 0px 5px ;
}
