
<!-- BEGIN: No incident selected. -->
<ng-template [ngIf]="! incidentID">
	
	<!-- If there is no incident ID, then prompt the user to create one. -->
	<div class="app-intro">

		<h1 class="app-intro__title">
			Incident Commander
		</h1>

		<a (click)="startNewIncident()" class="app-intro__start">
			Start New Incident
		</a>

	</div>

	<div class="app-caution">
		
		<strong class="app-caution__label">
			Caution
		</strong>
		
		<span class="app-caution__description">
			All Incident Commander data is stored in a 
			<a href="https://firebase.googleblog.com/2015/02/the-2120-ways-to-ensure-unique_68.html">public Firebase database</a> 
			&mdash; do not store sensitive information in your incident.
		</span>

	</div>

</ng-template>
<!-- END: No incident selected. -->


<!-- BEGIN: Incident selected and still loading. -->
<ng-template [ngIf]="( incidentID && ! incident )">

	<div class="app-loading" [ngSwitch]="incidentID">
		<span *ngSwitchCase=" 'new' ">Loading New Incident...</span>
		<span *ngSwitchDefault>Loading Selected Incident...</span>
	</div>

</ng-template>
<!-- END: Incident selected and still loading. -->


<!-- BEGIN: Incident selected and fully loaded. -->
<ng-template [ngIf]="( incidentID && incident )">

	<div class="app-main">
			
		<header class="app-header">

			<h1 class="app-header__title">
				Incident Commander
			</h1>

			<div class="app-header__subtitle">

				<span class="app-header__quote">
					"{{ quote.excerpt }}"
				</span>

				<span class="app-header__author">
					&mdash; {{ quote.author }}
				</span>

			</div>

			<div class="app-header__tools incident-io">
				<a (click)="startNewIncident()" class="incident-io__start">Start New Incident</a>
			</div>

		</header>

		<app-incident
			[incident]="incident"
			[slackMessage]="form.slack"
			[timezones]="timezones"
			[priorities]="priorities"
			[statuses]="statuses">
		</app-incident>

		<footer class="app-footer">

			<div class="app-footer__action">
				If you are worried about having your information in "the cloud," you can 
				<a (click)="deleteIncident()">delete your incident</a>
				when you are done with it.
			</div>

		</footer>

	</div>

	<ng-template [ngIf]="globalInsight">

		<div class="global-insight">
			{{ globalInsight }}
		</div>

	</ng-template>

</ng-template>
<!-- END: Incident selected and fully loaded. -->
